@model List<arabiquantum.ViewModels.ListCommentsViewModel>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

</head>
<main role="main" class="mb-5">
    <div class="container">

        @{
            foreach (var listComments in Model)

            { 
                <div class="container ">
                    <div style="border-radius: 0px ; border-color: #235074" class="card w3-panel w3-border w3-hover-border-blue">
                        <div style="margin-right:2%;" class="card-body">
                            <div class="row justify-content-between">
                                <h4 class="card-title " style=" width:25vw;">
                                @listComments.CommentUsername        
                                </h4>
                                <p class="text-muted small mb-0 " style=" width:26vw;">@listComments.CommentDateTime</p>

                            </div>

                            @using (Html.BeginForm("Edit", "comment", FormMethod.Post))
                            {
                                
                               
                                <div class="row">
                                    <div class="col-11">
                                        <input type="text" id="@listComments.CommentId" name="CommentText" class="no-outline" disabled value="@listComments.CommentText" style="background-color:white ; width:100%;border-style:hidden;" />
                                        @Html.Hidden("postid", (object)ViewBag.postid)
                                        @Html.Hidden("CommentId",listComments.CommentId)
                                    </div>
                                </div>                       
                            }

                        </div>
                    </div>

                </div>
                
            }
       
                                          
                                            }
    </div>
</main>



